---
import Layout from '../layouts/Layout.astro';
import Car from '../../public/car.png';
import Light from '../../public/light_small.svg';
import Crowd from '../../public/crowd.png';
import Bg from '../../public/bg.png';
import LandingBg from '../../public/landing_bg.jpg';
import { Image } from 'astro:assets'

---

<Layout title="Welcome to Astro.">
	<section id="landing" class="pb-[163px] relative h-[1000px]">
		<Image src={LandingBg} alt="landing" class="absolute opacity-50 h-full w-full" />
		<div class="pt-[145px]">
			<h1 class="font-bold text-[45px] text-center text-white relative z-10">hi, my name is bekjon and i’m a</h1>
			<h2 class="text-[#A092E1] text-[105px] text-center font-valorax relative z-10">Software Engineer</h2>
		</div>
	</section>
	<section id="aboutme"></section>
	<section id="work"></section>
	<section id="sideprojects"></section>
	<section class="relative z-10 max-w-[1920px]">
		<div id="title" class="max-w-[1200px] mx-auto flex gap-[52px] pt-[145px]">
			<h1 id="header" class="font-valorax text-[#A092E1] text-[80px] leading-[92px]">Station 4 :</h1>
			<h1 class=" text-[80px] leading-[92px] header-shadow">Contacts</h1>
		</div>
		<div id="links" class="flex gap-[80px] mx-auto w-full absolute left-[50px] xl:left-[400px] z-1 opacity-0">
			<h1 id="linked" class="text-[60px] text-white header">LinkedId</h1>
			<h1 id="github" class="text-[60px] text-white header">Github</h1>
			<h1 id="email" class="text-[60px] text-white header">Email</h1>
		</div>
		<div class="font-semibold text-center text-white mt-[30px]">
			<p class="mx-auto leading-[32px] text-[28px] max-w-[506px]">
				Doesn’t it look like a disguised entrance to a secret underground club?
			</p>
		</div>
		<div class="flex justify-center">
			<Image id="car" src={Car} alt="car" class="max-w-[1029px] w-full max-h-[634px]" />
		</div>
		<div id="secret" class="font-semibold text-center text-white mx-auto flex justify-center text-[28px] pt-[3rem] relative z-10">
			<p class="max-w-[500px] absolute z-10">Here you will be able to find the ways of  connecting to the person you have been looking for.</p>
		</div>
	</section>
	<div id="trigger" class="max-h-[1920px]">
		<div class="w-full h-full flex justify-center relative max-h-[1920px]">
			<Image id="light" src={Light} alt="light" class="max-w-[1303px] max-h-[1920px] z-0 absolute top-[-300px] opacity-0 origin-top" />
		</div>
		<div class="h-full relative">
			<Image id="crowd" src={Crowd} alt="light" class="h-[800px] top-[200px] z-10 absolute opacity-0" />
		</div>
		<div class="h-full relative">
			<Image id="bg" src={Bg} alt="bg" class="h-[1000px] z-[-1] opacity-0 absolute" />
		</div>
	</div>
</Layout>

<script>
	import { gsap } from "gsap/dist/gsap";

	import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
	import { ScrollToPlugin } from "gsap/dist/ScrollToPlugin";
	import { MotionPathPlugin } from "gsap/dist/MotionPathPlugin";

	gsap.registerPlugin(ScrollTrigger,ScrollToPlugin,MotionPathPlugin);

/*
	gsap.to('#title', {
		yPercent: -10,
		scrollTrigger:  {
			trigger: '#title',
			scrub: true,
		},
	});
*/

	gsap.to('#secret', {
		y: 850,
		opacity: 0,
		duration: 1,
		scrollTrigger:  {
			trigger: '#crowd',
			scrub: true,
			start: "top center",
			end: "+=300px"
		},
	});

	gsap.to('#links', {
		y: 1000,
		opacity: 1,
		duration: 1,
		scrollTrigger:  {
			trigger: '#crowd',
			scrub: true,
			end:"+=300px",
			start: "top center",
		},
	});

	gsap.to('#car', {
		scale: 0.8,
		scrollTrigger:  {
			once: false,
			scrub: true
		},
	});

	gsap.to('#light', {
		opacity: 1,
		duration: 1,
		scrollTrigger: {
			trigger: '#light',
			start: 'top center',
			scrub: true,
			end:"+=50px"
		}
	});

	gsap.to('#light', {
		scaleY: 1.6,
		scaleX: 2.5,
		duration: 1,
		scrollTrigger: {
			trigger: '#crowd',
			start: 'top center',
			scrub: true,
			end:"+=50",
		}
	});

	gsap.to('#crowd', {
		opacity: 1,
		duration: .5,
		scrollTrigger: {
			trigger: '#crowd',
			start: 'top bottom',
			scrub: true,
			end: "+=50px"
		}
	});

	gsap.to('#bg', {
		opacity: .3,
		duration: .5,
		scrollTrigger: {
			trigger: '#crowd',
			start: 'top bottom',
			scrub: true,
		}
	});

</script>

<style>
	h1 {
		font-family: 'valorax', sans-serif;
	}
	.header  {
		text-shadow: -1px 1px 0 #fff,
		1px 1px 0 #fff,
		1px -1px 0 #fff,
		-1px -1px 0 #fff;
	}
	.header-shadow {
		text-shadow: -1px 1px 0 #fff,
		1px 1px 0 #fff,
		1px -1px 0 #fff,
		-1px -1px 0 #fff;
	}
</style>
