---
import Bg from '../../public/about_bg_mobile.png';
import {Image} from "astro:assets";
import AboutMeBorder from '../../public/v2.svg';
import AboutMeImg from '../../public/about_me_img.png';
import StackBorder from '../../public/stack_border.svg';
import ReactIcon from '../../public/react.svg';
import Blur from '../../public/blur.svg';
---

<section id="aboutme">
    <div class="flex flex-col mb-[25px] px-[40px]">
        <h1 class="text-[32px] font-valorax text-dark_purple purple-text-shadow">Station 1:</h1>
        <h1 class="text-[32px] font-valorax text-black white-text-shadow">About Me</h1>
    </div>
    <p class="text-[16px] text-white px-[40px]">Begin your journey through the stations of our planet, uncovering the essence of the developer behind the scenes.</p>
</section>
<section class="relative">
    <div class="h-[28px] w-full backdrop-blur-sm absolute z-10"></div>
    <Image src={Bg} alt="background" class="h-screen absolute" />
    <div class="h-full w-full mt-[95px]">
        <Image src={AboutMeBorder} alt="background" class="w-full absolute px-[25px] top-0 z-10" />
        <div class="flex flex-col lg:flex-row items-center">
            <Image src={AboutMeImg} alt="me" class="relative z-10 max-w-[204px] max-h-[261px] mt-[61px] mb-[55px]" />
            <div class="flex flex-col items-center mt-[42px] relative h-full w-full">
                <Image src={StackBorder} alt="stack border" class="w-full absolute z-10 max-w-[204px]" />
                <div class="flex justify-center max-w-[140px] mt-[42px] gap-[13px] flex-wrap">
                    <div class="max-w-[56px] max-h-[54px] flex rounded-md bg-transparent gr_icon relative z-10">
                        <Image src={ReactIcon} class="max-w-[33px] max-h-[30px] relative z-20" alt="react" />
                    </div>
                    <div class="flex max-w-[56px] max-h-[54px] rounded-md bg-transparent gr_icon relative z-10">
                        <Image src={ReactIcon} class="max-w-[33px] max-h-[30px] relative z-20" alt="react" />
                        <Image src={Blur} class="max-w-[33px] max-h-[30px] top-3 absolute z-20" alt="react" />
                    </div>
                    <div class="flex max-w-[56px] max-h-[54px] rounded-md bg-transparent gr_icon relative z-10">
                        <Image src={ReactIcon} class="max-w-[33px] max-h-[30px] relative z-20" alt="react" />
                    </div>
                    <div class="flex max-w-[56px] max-h-[54px] rounded-md bg-transparent backdrop-blur-md relative z-10">
                        <Image src={ReactIcon} class="max-w-[33px] max-h-[30px] relative z-20" alt="react" />
                    </div>
                    <div class="flex max-w-[56px] max-h-[54px] rounded-md bg-transparent gr_icon relative z-10">
                        <Image src={ReactIcon} class="max-w-[33px] max-h-[30px] relative z-20" alt="react" />
                    </div>
                    <div class="flex max-w-[56px] max-h-[54px] rounded-md bg-transparent gr_icon relative z-10">
                        <Image src={ReactIcon} class="max-w-[33px] max-h-[30px] relative z-20" alt="react" />
                    </div>
                    <div class="flex max-w-[56px] max-h-[54px] rounded-md bg-transparent gr_icon relative z-10">
                        <Image src={ReactIcon} class="max-w-[33px] max-h-[30px] relative z-20" alt="react" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .gr_icon {
        padding: .25rem;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
</style>
