---
import LandingBg from "../../public/landing_bg.jpg";
import { Image } from 'astro:assets'
import Moon from '../../public/moon_landing.png';
import Location from '../../public/location.svg';
import MobileNav from "./react/MobileNav";

interface Props { }
---

<section id="landing" class="pb-[163px] relative max-h-[1200px]">
    <Image src={LandingBg} alt="landing" class="absolute opacity-50 z-[-10] max-h-[1200px] h-full w-full hidden lg:block" />
    <MobileNav client:load />
    <div id="header" class="md:pt-[40px] pt-[30px] px-[42px] pb-[60px]">
        <h1 class="font-bold text-[16px] md:text-[45px] text-center header-shadow text-white relative z-10 uppercase mb-[10px] lg:mb-0">hi, my name is bekjon and i’m a</h1>
        <h2 class="text-[#A092E1] text-[32px] md:text-[105px] text-shadow text-center font-valorax relative z-10">Software Engineer</h2>
    </div>
    <div class="flex xl:px-[180px] lg:px-[80px] px-0 justify-start flex-col-reverse items-center lg:items-start xl:flex-row gap-[60px]">
        <div id="landing_text" class="flex flex-col flex-1 relative z-10 max-w-[300px] lg:max-w-[420px]">
            <p class="text-white lg:text-left mb-[23px] lg:mb-[50px] text-[16px] lg:text-[28px] text-center">Begin your journey through the stations of our planet, uncovering the essence of the developer behind the scenes.</p>
            <button class="border-dark_purple mb-[25px] border-[2px] lg:max-w-[230px] text-[20px] lg:text-[30px] cv-btn font-valorax text-dark_purple py-[20px]">Cv</button>
            <button class="border-dark_purple mb-[25px] border-[2px] lg:max-w-[280px] text-[20px] lg:text-[30px] cv-btn font-valorax bg-dark_purple text-black py-[20px]">Experience</button>
        </div>
        <div class="flex justify-center lg:justify-start relative flex-1 max-w-[900px]">
            <Image id="moon" src={Moon} alt="moon" class="max-w-[260px] max-h-[260px] md:max-w-[460px] md:max-h-[460px] m lg:max-w-[640px] lg:max-h-[640px] z-10 lg:mr-[-8rem]" />
           <div class="absolute flex justify-end mr-10 z-10 h-full w-full md:hidden">
               <div class="flex flex-col align-top">

                   <svg id="m1" class="mr-5" width="59" height="61" viewBox="0 0 59 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <g filter="url(#filter0_b_173_201)">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M41.6074 44.5819C49.7208 37.9925 51.6922 26.1996 45.8409 17.266C39.5952 7.73029 26.8018 5.06319 17.266 11.3089C7.73028 17.5546 5.06319 30.348 11.3089 39.8838C11.3576 39.958 11.4066 40.0319 11.4561 40.1054L11.4538 40.1051L24.2125 59.5847L41.6074 44.5819Z" fill="white" fill-opacity="0.11"/>
                           <path d="M41.6074 44.5819L41.0867 43.9407L41.0772 43.9484L41.068 43.9564L41.6074 44.5819ZM11.4561 40.1054L11.3581 40.9255L13.1477 41.1392L12.1413 39.6441L11.4561 40.1054ZM11.4538 40.1051L11.5517 39.2849L9.79161 39.0748L10.7628 40.5577L11.4538 40.1051ZM24.2125 59.5847L23.5216 60.0372L24.0381 60.8259L24.752 60.2101L24.2125 59.5847ZM45.1499 17.7186C50.7668 26.2943 48.8747 37.6156 41.0867 43.9407L42.1282 45.2231C50.5669 38.3694 52.6176 26.105 46.5318 16.8135L45.1499 17.7186ZM17.7186 11.9999C26.8727 6.00411 39.1541 8.56447 45.1499 17.7186L46.5318 16.8135C40.0362 6.8961 26.7308 4.12228 16.8134 10.6179L17.7186 11.9999ZM11.9999 39.4312C6.00411 30.2771 8.56447 17.9956 17.7186 11.9999L16.8134 10.6179C6.8961 17.1136 4.12227 30.419 10.6179 40.3363L11.9999 39.4312ZM12.1413 39.6441C12.0938 39.5735 12.0466 39.5026 11.9999 39.4312L10.6179 40.3363C10.6685 40.4135 10.7195 40.4903 10.7709 40.5666L12.1413 39.6441ZM11.3559 40.9253L11.3581 40.9255L11.554 39.2852L11.5517 39.2849L11.3559 40.9253ZM24.9035 59.1321L12.1448 39.6525L10.7628 40.5577L23.5216 60.0372L24.9035 59.1321ZM41.068 43.9564L23.6731 58.9592L24.752 60.2101L42.1469 45.2074L41.068 43.9564Z" fill="white" fill-opacity="0.86"/>
                       </g>
                       <circle cx="28.5764" cy="27.229" r="13.2159" fill="white"/>
                       <path d="M30.8096 33.5841H27.3527V23.6037H25.5871V20.1468H30.8096V33.5841Z" fill="#A092E1"/>
                       <defs>
                           <filter id="filter0_b_173_201" x="2.89414" y="2.89401" width="51.3616" height="62.1445" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                               <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                               <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.10628"/>
                               <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_173_201"/>
                               <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_173_201" result="shape"/>
                           </filter>
                       </defs>
                   </svg>

                   <svg id="m2" class="ml-3" width="59" height="61" viewBox="0 0 59 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <g filter="url(#filter0_b_173_207)">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M41.6074 44.5819C49.7208 37.9925 51.6922 26.1996 45.8409 17.266C39.5952 7.73029 26.8018 5.06319 17.266 11.3089C7.73028 17.5546 5.06319 30.348 11.3089 39.8838C11.3576 39.958 11.4066 40.0319 11.4561 40.1054L11.4538 40.1051L24.2125 59.5847L41.6074 44.5819Z" fill="white" fill-opacity="0.11"/>
                           <path d="M41.6074 44.5819L41.0867 43.9407L41.0772 43.9484L41.068 43.9564L41.6074 44.5819ZM11.4561 40.1054L11.3581 40.9255L13.1477 41.1392L12.1413 39.6441L11.4561 40.1054ZM11.4538 40.1051L11.5517 39.2849L9.79161 39.0748L10.7628 40.5577L11.4538 40.1051ZM24.2125 59.5847L23.5216 60.0372L24.0381 60.8259L24.752 60.2101L24.2125 59.5847ZM45.1499 17.7186C50.7668 26.2943 48.8747 37.6156 41.0867 43.9407L42.1282 45.2231C50.5669 38.3694 52.6176 26.105 46.5318 16.8135L45.1499 17.7186ZM17.7186 11.9999C26.8727 6.00411 39.1541 8.56447 45.1499 17.7186L46.5318 16.8135C40.0362 6.8961 26.7308 4.12228 16.8134 10.6179L17.7186 11.9999ZM11.9999 39.4312C6.00411 30.2771 8.56447 17.9956 17.7186 11.9999L16.8134 10.6179C6.8961 17.1136 4.12227 30.419 10.6179 40.3363L11.9999 39.4312ZM12.1413 39.6441C12.0938 39.5735 12.0466 39.5026 11.9999 39.4312L10.6179 40.3363C10.6685 40.4135 10.7195 40.4903 10.7709 40.5666L12.1413 39.6441ZM11.3559 40.9253L11.3581 40.9255L11.554 39.2852L11.5517 39.2849L11.3559 40.9253ZM24.9035 59.1321L12.1448 39.6525L10.7628 40.5577L23.5216 60.0372L24.9035 59.1321ZM41.068 43.9564L23.6731 58.9592L24.752 60.2101L42.1469 45.2074L41.068 43.9564Z" fill="white" fill-opacity="0.86"/>
                       </g>
                       <circle cx="28.5764" cy="27.229" r="13.2159" fill="white"/>
                       <path d="M35.6536 33.4912H22.588V25.1649H28.9443L27.3831 23.6037H22.588V20.1468H28.8328L35.6536 26.9677V28.6404H26.0449V30.0157H35.6536V33.4912Z" fill="#A092E1"/>
                       <defs>
                           <filter id="filter0_b_173_207" x="2.89414" y="2.89401" width="51.3616" height="62.1444" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                               <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                               <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.10628"/>
                               <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_173_207"/>
                               <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_173_207" result="shape"/>
                           </filter>
                       </defs>
                   </svg>
               </div>
               <div class="flex flex-col gap-[1rem] mt-10">

                   <svg id="m3" class="ml-2" width="59" height="61" viewBox="0 0 59 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <g filter="url(#filter0_b_173_213)">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M41.6074 44.5819C49.7208 37.9925 51.6922 26.1996 45.8409 17.266C39.5952 7.73029 26.8018 5.06319 17.266 11.3089C7.73028 17.5546 5.06319 30.348 11.3089 39.8838C11.3576 39.958 11.4066 40.0319 11.4561 40.1054L11.4538 40.1051L24.2125 59.5847L41.6074 44.5819Z" fill="white" fill-opacity="0.11"/>
                           <path d="M41.6074 44.5819L41.0867 43.9407L41.0772 43.9484L41.068 43.9564L41.6074 44.5819ZM11.4561 40.1054L11.3581 40.9255L13.1477 41.1392L12.1413 39.6441L11.4561 40.1054ZM11.4538 40.1051L11.5517 39.2849L9.79161 39.0748L10.7628 40.5577L11.4538 40.1051ZM24.2125 59.5847L23.5216 60.0372L24.0381 60.8259L24.752 60.2101L24.2125 59.5847ZM45.1499 17.7186C50.7668 26.2943 48.8747 37.6156 41.0867 43.9407L42.1282 45.2231C50.5669 38.3694 52.6176 26.105 46.5318 16.8135L45.1499 17.7186ZM17.7186 11.9999C26.8727 6.00411 39.1541 8.56447 45.1499 17.7186L46.5318 16.8135C40.0362 6.8961 26.7308 4.12228 16.8134 10.6179L17.7186 11.9999ZM11.9999 39.4312C6.00411 30.2771 8.56447 17.9956 17.7186 11.9999L16.8134 10.6179C6.8961 17.1136 4.12227 30.419 10.6179 40.3363L11.9999 39.4312ZM12.1413 39.6441C12.0938 39.5735 12.0466 39.5026 11.9999 39.4312L10.6179 40.3363C10.6685 40.4135 10.7195 40.4903 10.7709 40.5666L12.1413 39.6441ZM11.3559 40.9253L11.3581 40.9255L11.554 39.2852L11.5517 39.2849L11.3559 40.9253ZM24.9035 59.1321L12.1448 39.6525L10.7628 40.5577L23.5216 60.0372L24.9035 59.1321ZM41.068 43.9564L23.6731 58.9592L24.752 60.2101L42.1469 45.2074L41.068 43.9564Z" fill="white" fill-opacity="0.86"/>
                       </g>
                       <circle cx="28.5764" cy="27.229" r="13.2159" fill="white"/>
                       <path d="M35.6722 33.4912H22.588V30.0157H32.1967V28.6404H22.588V25.1649H28.9629L27.4017 23.6037H22.588V20.1468H28.8328L35.6722 26.9677V33.4912Z" fill="#A092E1"/>
                       <defs>
                           <filter id="filter0_b_173_213" x="2.89414" y="2.89401" width="51.3616" height="62.1444" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                               <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                               <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.10628"/>
                               <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_173_213"/>
                               <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_173_213" result="shape"/>
                           </filter>
                       </defs>
                   </svg>

                   <svg id="m4" width="59" height="61" viewBox="0 0 59 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <g filter="url(#filter0_b_173_219)">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M41.6074 44.5819C49.7208 37.9925 51.6922 26.1996 45.8409 17.266C39.5952 7.73029 26.8018 5.06319 17.266 11.3089C7.73028 17.5546 5.06319 30.348 11.3089 39.8838C11.3576 39.958 11.4066 40.0319 11.4561 40.1054L11.4538 40.1051L24.2125 59.5847L41.6074 44.5819Z" fill="white" fill-opacity="0.11"/>
                           <path d="M41.6074 44.5819L41.0867 43.9407L41.0772 43.9484L41.068 43.9564L41.6074 44.5819ZM11.4561 40.1054L11.3581 40.9255L13.1477 41.1392L12.1413 39.6441L11.4561 40.1054ZM11.4538 40.1051L11.5517 39.2849L9.79161 39.0748L10.7628 40.5577L11.4538 40.1051ZM24.2125 59.5847L23.5216 60.0372L24.0381 60.8259L24.752 60.2101L24.2125 59.5847ZM45.1499 17.7186C50.7668 26.2943 48.8747 37.6156 41.0867 43.9407L42.1282 45.2231C50.5669 38.3694 52.6176 26.105 46.5318 16.8135L45.1499 17.7186ZM17.7186 11.9999C26.8727 6.00411 39.1541 8.56447 45.1499 17.7186L46.5318 16.8135C40.0362 6.8961 26.7308 4.12228 16.8134 10.6179L17.7186 11.9999ZM11.9999 39.4312C6.00411 30.2771 8.56447 17.9956 17.7186 11.9999L16.8134 10.6179C6.8961 17.1136 4.12227 30.419 10.6179 40.3363L11.9999 39.4312ZM12.1413 39.6441C12.0938 39.5735 12.0466 39.5026 11.9999 39.4312L10.6179 40.3363C10.6685 40.4135 10.7195 40.4903 10.7709 40.5666L12.1413 39.6441ZM11.3559 40.9253L11.3581 40.9255L11.554 39.2852L11.5517 39.2849L11.3559 40.9253ZM24.9035 59.1321L12.1448 39.6525L10.7628 40.5577L23.5216 60.0372L24.9035 59.1321ZM41.068 43.9564L23.6731 58.9592L24.752 60.2101L42.1469 45.2074L41.068 43.9564Z" fill="white" fill-opacity="0.86"/>
                       </g>
                       <circle cx="28.5764" cy="27.229" r="13.2159" fill="white"/>
                       <path d="M33.6526 33.4912H30.1958V28.6404H20.5871V26.9677L27.4079 20.1468H33.6526V23.6037H28.8576L27.2964 25.1649H33.6526V33.4912Z" fill="#A092E1"/>
                       <defs>
                           <filter id="filter0_b_173_219" x="2.89414" y="2.89401" width="51.3616" height="62.1444" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                               <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                               <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.10628"/>
                               <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_173_219"/>
                               <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_173_219" result="shape"/>
                           </filter>
                       </defs>
                   </svg>

               </div>

           </div>


            <div id="l1" class="absolute md:flex justify-center items-center opacity-0 hidden">
                <Image src={Location} alt="location" />
                <div class="cursor-pointer h-[50px] group w-[50px] bg-left ml-4 mt-4 top-0 left-0 hover:h-[250px] 2xl:hover:h-auto hover:[writing-mode:vertical-lr] 2xl:hover:[writing-mode:horizontal-tb] 2xl:hover:w-[250px] transition-all mb-[1rem] rounded-full text-dark_purple absolute text-[35px] flex justify-center items-center bg-white">
                    1
                    <p class="hidden group-hover:block text-dark_purple font-valorax text-[25px] 2xl:ml-[20px] 2xl:mt-0 mt-[.5rem]">About Me</p>
                </div>
            </div>
            <div id="l2" class="absolute md:flex hover:z-10 justify-center items-center opacity-0 hidden">
                <Image src={Location} alt="location" />
                <div class="cursor-pointer h-[50px] group w-[50px] bg-left ml-4 mt-4 top-0 left-0 hover:h-[375px] 2xl:hover:h-auto hover:[writing-mode:vertical-lr] 2xl:hover:[writing-mode:horizontal-tb] 2xl:hover:w-[375px] transition-all rounded-full text-dark_purple absolute text-[35px] flex justify-center items-center bg-white">
                    <p>2</p>
                    <p class="hidden group-hover:inline-block text-dark_purple font-valorax text-[25px] 2xl:ml-[20px] 2xl:mt-0 mt-[.5rem]">Work Experience</p>
                </div>
            </div>
            <div id="l3" class="absolute hidden md:flex justify-center items-center opacity-0">
                <Image src={Location} alt="location" />
                <div class="cursor-pointer h-[50px] group w-[50px] bg-left ml-4 mt-4 top-0 left-0 hover:h-[300px] 2xl:hover:h-auto hover:[writing-mode:vertical-lr] 2xl:hover:[writing-mode:horizontal-tb] 2xl:hover:w-[300px] transition-all mb-[1rem] rounded-full text-dark_purple absolute text-[35px] flex justify-center items-center bg-white">
                    3
                    <p class="hidden group-hover:block text-dark_purple font-valorax text-[25px] 2xl:ml-[20px] 2xl:mt-0 mt-[.5rem]">Side Projects</p>
                </div>
            </div>
            <div id="l4" class="absolute hidden md:flex justify-center items-center opacity-0">
                <Image src={Location} alt="location" />
                <div class="cursor-pointer h-[50px] group w-[50px] bg-left ml-4 mt-4 top-0 left-0 hover:h-[250px] 2xl:hover:h-auto hover:[writing-mode:vertical-lr] 2xl:hover:[writing-mode:horizontal-tb] 2xl:hover:w-[250px] transition-all mb-[1rem] rounded-full text-dark_purple absolute text-[35px] flex justify-center items-center bg-white">
                    4
                    <p class="hidden group-hover:block text-dark_purple font-valorax text-[25px] mx-[25px] 2xl:ml-[20px] 2xl:mt-0 mt-[.5rem]">Contacts</p>
                </div>
            </div>

            <svg class="hidden md:block md:h-[460px] lg:h-[639px]" width="272" height="639" viewBox="0 0 272 660" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_94_301)">
                    <path id="arc" fill-rule="evenodd" clip-rule="evenodd" d="M10 649.987C153.919 616.178 261.143 485.923 261.143 330.396C261.143 174.869 153.919 44.6137 10 10.8043V14.9163C151.67 48.6454 257.143 177.067 257.143 330.396C257.143 483.724 151.67 612.146 10 645.875V649.987Z" fill="#CFC5FF"/>
                </g>
                <defs>
                    <filter id="filter0_d_94_301" x="0" y="0.804321" width="271.143" height="659.183" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset/>
                        <feGaussianBlur stdDeviation="5"/>
                        <feComposite in2="hardAlpha" operator="out"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0.81373 0 0 0 0 0.773611 0 0 0 0 1 0 0 0 1 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_94_301"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_94_301" result="shape"/>
                    </filter>
                </defs>
            </svg>
        </div>
    </div>
</section>

<script>
    import { gsap } from "gsap/dist/gsap";

    import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
    import { ScrollToPlugin } from "gsap/dist/ScrollToPlugin";
    import { MotionPathPlugin } from "gsap/dist/MotionPathPlugin";

    gsap.registerPlugin(ScrollTrigger,ScrollToPlugin,MotionPathPlugin);

    const timeline = gsap.timeline();

    timeline.fromTo("#header", { y: -200 }, {
        y: 0,
        duration: 1,
        ease: "power1.inOut",
    })
    .fromTo("#mobile_menu", { opacity: 0 }, {
        opacity: 1,
        duration: 1,
    }, "<")
    .fromTo("#moon", { scale: 0.5, opacity: 0 }, {
        delay: 0,
        scale: 1,
        opacity: 1,
        duration: 1,
    }, "<")
    .fromTo('#m1', { opacity: 0 }, { opacity: 1, duration: .25 }, ">")
    .fromTo('#m2', { opacity: 0 }, { opacity: 1, duration: .25 }, ">")
    .fromTo('#m3', { opacity: 0 }, { opacity: 1, duration: .25 }, ">")
    .fromTo('#m4', { opacity: 0 }, { opacity: 1, duration: .25 }, ">")

    .fromTo("#arc", { opacity: 0 }, {
        opacity: 1,
        duration: 1,
    }, "<")
    .fromTo("#landing_text", { opacity: 0 }, {
        opacity: 1,
        duration: 1,
    }, "<")
    .to("#l1", {
        motionPath: {
            path: "#arc",
            align: "#arc",
            alignOrigin: [0, 1],
            start: 0,
            end: 0.4,
            offsetX: 25
        },
        transformOrigin: "50% 50%",
        duration: 1,
        opacity: 1,
    }, ">")
    .to("#l2", {
        motionPath: {
            path: "#arc",
            align: "#arc",
            alignOrigin: [0, 1],
            start: 0,
            end: 0.3,
            offsetX: 25
        },
        opacity: 1,
        transformOrigin: "50% 50%",
        duration: 1,
    }, "<")
    .to("#l3", {
        motionPath: {
            path: "#arc",
            align: "#arc",
            alignOrigin: [0, 1],
            start: 0,
            end: 0.2,
            offsetX: 40
        },
        opacity: 1,
        duration: 1,
    },"<")
    .to("#l4", {
        motionPath: {
            path: "#arc",
            align: "#arc",
            alignOrigin: [-.5, 1],
            start: 0,
            end: 0.1,
            offsetX: 40
        },
        opacity: 1,
        duration: 1,
    }, "<");
</script>


<style>
    .text-shadow {
        text-shadow: 0 0 10px #D0C5FF;
    }
    .header-shadow {
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    .cv-btn {
        box-shadow: 0 0 10px #D0C5FF;
    }
</style>