---
import StackBorder from "../../public/stack_border.svg";
import ReactIcon from "../../public/react.svg";
import CSharp from "../assets/csharp.svg";
import NodeJsIcon from "../assets/nodejs_icon.svg";
import GolangIcon from "../assets/golang.svg";
import Docker from "../assets/docker.svg";
import Postgres from '../assets/postgresql.svg';
import Redux from '../assets/redux.svg';
import ReduxBlur from '../assets/redux_blur.svg';
import DarkBlur from '../assets/dark_blur.svg';
import DarkPurple from '../assets/dark_purple.svg';
import DarkGreen from '../assets/dark_green.svg';
import JavaScript from '../assets/javascript.svg';
import JavascriptBlur from '../assets/javascript_blur.svg';
import Typescript from '../assets/typescript.svg';
import {Image} from "astro:assets";
---
<div class="flex flex-col items-center mt-[42px] relative h-full w-full">
    <Image src={StackBorder} alt="stack border" class="w-full absolute z-10 max-w-[224px]" />
    <div class="flex max-w-[140px] justify-center w-full mt-[42px] gap-[13px]">
        <div class="flex flex-col ml-2 gap-[13px] w-full">
            <div class="group max-w-[56px] max-h-[54px] h-[54px] justify-center items-center w-full flex rounded-md gr_icon relative z-20">
                <Image src={ReactIcon} class="max-w-[30px] scale-125 max-h-[34px] w-full h-full relative z-20 text-dark_blue" alt="react" />
                <Image src={DarkBlur} class="group-active:opacity-100 hover:opacity-100 transition-opacity max-w-[40px] max-h-[40px] h-full w-full top-2 scale-125 opacity-50 absolute z-0" alt="react blur" />
            </div>
            <div class="group max-w-[56px] max-h-[54px] h-[54px] justify-center items-center w-full flex rounded-md gr_icon relative z-10">
                <Image src={NodeJsIcon} class="max-w-[30px] max-h-[34px] w-full h-full relative z-20" alt="react" />
                <Image src={DarkGreen} class="group-active:opacity-100 hover:opacity-100 transition-opacity max-w-[40px] max-h-[40px] h-full w-full top-2 scale-125 opacity-50 absolute z-0" alt="react blur" />
            </div>
            <div class="group max-w-[56px] max-h-[54px] h-[54px] justify-center items-center w-full flex rounded-md gr_icon relative z-10">
                <Image src={Docker} class="max-w-[30px] max-h-[34px] w-full h-full scale-125 relative z-20" alt="react" />
                <Image src={DarkBlur} class="group-active:opacity-100 hover:opacity-100 transition-opacity max-w-[40px] max-h-[40px] h-full w-full top-2 scale-125 opacity-50 absolute z-0" alt="react blur" />
            </div>
            <div class="group max-w-[56px] max-h-[54px] h-[54px] justify-center items-center w-full flex rounded-md gr_icon relative z-10">
                <Image src={Redux} class="max-w-[30px] max-h-[34px] relative z-20" alt="react" />
                <Image src={ReduxBlur} class="group-active:opacity-100 hover:opacity-100 transition-opacity max-w-[40px] max-h-[40px] h-full w-full top-2 scale-125 opacity-40 absolute z-0" alt="react blur" />
            </div>
            <div class="group max-w-[56px] max-h-[54px] h-[54px] justify-center items-center w-full flex rounded-md gr_icon relative z-10">
                <Image src={Typescript} class="max-w-[30px] max-h-[34px] relative z-20" alt="react" />
                <Image src={DarkBlur} class="group-active:opacity-100 hover:opacity-100 transition-opacity max-w-[40px] max-h-[40px] h-full w-full top-2 scale-125 opacity-50 absolute z-0" alt="react blur" />
            </div>
        </div>
        <div class="flex flex-col gap-[13px] w-full">
            <div class="group flex max-w-[56px] max-h-[54px] h-[54px] items-center w-full rounded-md justify-center gr_icon relative z-10">
                <Image src={CSharp} class="max-w-[30px] max-h-[34px] relative z-20" alt="react" />
                <Image src={DarkPurple} class="group-active:opacity-100 hover:opacity-100 transition-opacity max-w-[40px] max-h-[40px] h-full w-full top-2 scale-125 opacity-50 absolute z-0" alt="react blur" />
            </div>
            <div class="group max-w-[56px] max-h-[54px] h-[54px] justify-center items-center w-full flex rounded-md gr_icon relative z-10">
                <Image src={GolangIcon} class="max-w-[30px] max-h-[34px] w-full scale-125 h-full relative z-20" alt="react" />
                <Image src={DarkBlur} class="group-active:opacity-100 hover:opacity-100 transition-opacity max-w-[40px] max-h-[40px] h-full w-full top-1 scale-150 opacity-50 absolute z-0" alt="react blur" />
            </div>
            <div class="group max-w-[56px] max-h-[54px] h-[54px] justify-center items-center w-full flex rounded-md gr_icon relative z-10">
                <Image src={Postgres} class="max-w-[30px] max-h-[34px] relative z-20" alt="react" />
                <Image src={DarkBlur} class="group-active:opacity-100 hover:opacity-100 transition-opacity max-w-[40px] max-h-[40px] h-full w-full top-2 scale-125 opacity-50 absolute z-0" alt="react blur" />
            </div>
            <div class="group max-w-[56px] max-h-[54px] h-[54px] justify-center items-center w-full flex rounded-md gr_icon relative z-10">
                <Image src={JavaScript} class="max-w-[30px] max-h-[34px] relative z-20" alt="react" />
                <Image src={JavascriptBlur} class="group-active:opacity-100 hover:opacity-100 transition-opacity max-w-[40px] max-h-[40px] h-full w-full top-2 scale-x-150 scale-y-125 opacity-70 absolute z-0" alt="react blur" />
            </div>
        </div>
    </div>
</div>

<style>
    .gr_icon {
        padding: .25rem;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.20);
    }
</style>